.App {
  width: 95vw;
  margin: 2vw auto;

}
.logo{
  height: 55px;
}
.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recherche{
  display: flex;
  justify-content: space-between;
  margin-top: 4vw;
}
.slide{
  margin: 8vw auto;
}
.slide h2{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: rgb(0, 81, 255);
 
}
.adidas{
  height: 75px;
}
.lacoste{
  height: 150px;
}
.vans{
  height: 150px;
}
.chaussuresBox{
  width: 100vw;
}
.Selects{
  display: flex;
  margin: 4vw 5vw;
}
.Chaussures {
width: 90vw;
padding: 0;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
justify-content: space-between;
margin: auto;

}
Card{
  margin-top: 4vw;
}
.citysport{
  height: 4vw;
  cursor: pointer
}
h3{
  text-align: center;
}